python-dotenv==1.0.1
langchain==0.3.8
langchain-core==0.3.21
langchain-community==0.3.8
langchain-anthropic==0.3.0
langgraph==0.2.53
langgraph-checkpoint-postgres==2.0.3
psycopg[binary,pool]==3.2.3
rich==13.9.4