python-dotenv==1.0.1
langchain==0.3.15
langchain-core==0.3.31
langchain-community==0.3.15
mistralai==1.4.0
langchain-mistralai==0.2.4
langgraph==0.2.67
psycopg[binary,pool]==3.2.4
pgvector==0.3.6
rich==13.9.4
